/* 設定 Klook 風格色彩 */
body {
    font-family: Arial, sans-serif;
    background-color: #ff5b00;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.totalntertainment.com%2Fmusic%2Fanson-seabra-releases-walked-through-hell%2F&psig=AOvVaw1nwFedsNjlNkP0VR281wAL&ust=1741195958897000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOjz-sv68IsDFQAAAAAdAAAAABAK');
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: white;
    color: #ff5b00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #ffd1b3;
}
